<!doctype html>
<html lang="en">
  <head>
    <title>Sentiment Analysis</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/vendor/bootstrap.lumen.min.css">
    <link rel="stylesheet" href="static/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="static/app.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Sentiment Analysis <small> IMDB Reviews </small></h1>
        <p>Showcase of a project developed for the Natural Language Processing course at UFMG. This aims to classify movie reviews based on knowledge acquired by training a recurrent neural network (LSTM) on the IMDB reviews database.</p>
        <p>The text field below can be used to test the algorithm by classifying sentences representing hypothetical movie reviews, for example "I liked the movie" or "That movie was really boring". Further below on the page there are some examples extracted from the dataset comparing the performance of the algorithm to the actual polarity.</p>
        <div id="prediction" class="collapse alert alert-success" role="alert">
          <strong>
            <span id="predicted_class">Positive</span>
            (<span id="predicted_value"></span>)!
          </strong>
          <span id="predicted_query">=)</span>
        </div>
        <div class="progress collapse">
          <div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">Loading</span>
          </div>
        </div>
        <form action="/predict" class="form-group-lg" id="predict_form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Enter your sentence here, e.g. 'The Godfather is my favorite movie of all times'.">
            <span class="input-group-btn">
              <input class="btn btn-info btn-lg" type="submit" value="Classify">
            </span>
          </div>
        </form>
        <div class="notice">
          <small>
            (*) There are two classes: Negative (0) and Positive(1); 0 &ge; Negative &le; 0.5  &gt; Positive &le; 1
          </small>
        </div>
      </div>

      <div class="examples collapse">
        <h2 class="page-header">Randomly selected examples</h2>
        <table class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th width="70%"> Review </th>
              <th> Predicted </th>
              <th> Actual </th>
            </tr>
          </thead>
          <tbody class="example_items">
            <!-- Dinamically filled -->
          </tbody>
        </table>
      </div>
      <hr>
      <h3 class="page-header">References</h3>
      <p><strong>A. L. Maas, R. E. Daly, P. T. Pham, D. Huang, A. Y. Ng, and C. Potts.</strong> Learning word vectors for sentiment analysis. In <em>Proceedings of the 49th Annual Meeting of the Association for Computational Linguistics: Human Language Technologies</em>, pages 142-150, Portland, Oregon, USA, June 2011. Association for Computational Linguistics <a class="url" href="http://www.aclweb.org/anthology/P11-1015">(view online)</a>.</p>
    </div>
  </body>
</html>
